
<!-- main container -->
<div class="container-fluid">
</div>
<!-- Banner -->
	
	<div class="header" id="header1">
		<div class="container" id="banner">
			<div class="row">
				<div class="col-md-5">
					<%= image_tag('img01.jpg', class:'img-circle imagem', size:'300x300' ) %>		
				</div>
				<div class="col-md-7">
					<div >
						<h1>Motivacional para mim e outros</h1>
						<h2>Qualidades profissionais</h2>
						<button type="button" class="btn btn-primary btn-lg">Download CV</button>
					</div>

				</div>
			</div>
			<div class="row">
				<a class="goto-next" href="#about"></a>
			</div>
		</div>
	</div>

<!-- About -->
<div class="container" id="about">
	<div class="row">
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
	</div>	
	<div class="row">
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
	</div>	
	<div class="row">
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
		<h1>Sobre mim tecnicamente</h1>
		<h2>Qualidades profissionais</h2>
	</div>	
</div>

</div>
