<!DOCTYPE html>
<html>
<head>
	<title>Portifolio || Penha</title>
	<%= csrf_meta_tags %>
	<meta name = "viewport" content = "width = device-width, inicial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<%= yield %>

	<!-- start preloader -->
	

</body>
</html>
